@use "../../partials/colors" as c;

.main {
	display: flex;
	flex-direction: column;
	font-family: Aventena;
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
	.header {
		text-align: left;
		align-self: self-start;
		margin-left: 1em;
		padding: 0;
		color: c.$secondary;
		h1 {
			font-size: 5em;
			margin: 0;
		}
		h3 {
			font-size: 2em;
			margin-top: 0.5em;
		}
	}
	.image_container {
		margin-top: -8em;
		align-self: center;
	}
	.socials {
		display: flex;
		justify-content: space-between;
		font-size: 4em;
		text-decoration: none;
		padding: none;
		margin-left: 0.3em;
		margin-right: 0.3em;
		margin-bottom: 0.2em;
		.gh,
		.li {
			cursor: pointer;
			text-decoration: none;
			color: c.$tertiary;
			cursor: pointer;
			&:hover {
				color: c.$secondary;
				transition: 0.5s;
			}
			&:not(:hover) {
				color: c.$tertiary;
				transition: 0.5s;
			}
		}
	}
}
