@use "../../partials/colors" as c;

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	.page_heading {
		font-size: 2em;
		color: c.$secondary;
		font-family: "Aventena", Arial;
	}
	.about_content {
		width: 85vw;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size: 1.1em;
		.whitecliffe {
			text-decoration: none;
			color: c.$tertiary;
			cursor: pointer;
			&:hover {
				color: c.$secondary;
				transition: 0.5s;
			}
			&:not(:hover) {
				color: c.$tertiary;
				transition: 0.5s;
			}
		}
	}
	.known_tech {
		display: flex;
		width: 60vw;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 1em;

		&__heading {
			font-size: 1.5em;
			color: c.$secondary;
			font-family: "Aventena", Arial;
		}
		&__container {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			justify-content: space-between;
			height: 80px;
			width: 50px;
			.label {
				font-weight: 600;
				font-size: 0.7em;
				font-family: Arial, Helvetica, sans-serif;
			}
			.icon {
				font-size: 40px;
				padding-bottom: 1vh;
			}
			.logo_img {
				height: 40px;
				width: 40px;
			}
		}
	}
}
