@use "../../partials/colors" as c;

.container {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background: linear-gradient(140deg, c.$secondary, c.$tertiary);
	display: flex;
	justify-content: center;
	align-items: center;
}

.img {
	height: 280px;
	width: 280px;
	border-radius: 50%;
	object-fit: cover;
}
