@use "../../partials/colors" as c;

.container {
	height: 380px;
	width: 380px;
	border-radius: 50%;
	background: linear-gradient(140deg, c.$secondary, c.$tertiary);
	display: flex;
	justify-content: center;
	align-items: center;
}

.img {
	height: 360px;
	width: 360px;
	border-radius: 50%;
	object-fit: cover;
}
