@use "../../partials/colors" as c;

.main {
	display: flex;
	flex-direction: column;
	// justify-content: center;
	// align-items: center;
	height: 100vh;
	width: 100vw;
	font-family: Aventena;
}
.header {
	text-align: left;
	align-self: self-start;
	margin-top: 1em;
	margin-left: 2em;
	padding: 0;
	color: c.$secondary;

	h1 {
		font-size: 7em;
		margin: 0;
	}
	h3 {
		font-size: 2.5em;
		margin-top: 0.5em;
	}
}

.socials {
	font-size: 2em;
	text-decoration: none;
	color: c.$tertiary;
	display: flex;
	gap: 0.5em;
	margin: 0;
	padding: 0;
	text-align: center;
}

.image_container {
	justify-self: center;
	align-self: center;
	margin-top: -12em;
}
.nav {
	font-size: 6.5em;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-self: self-end;
	text-align: right;
	margin-right: 0.5em;
	margin-top: -1em;
	font-family: "AVENTENA", sans-serif;
	.link {
		text-decoration: none;
		&:hover {
			transform: translate(-25px);
			transition: 0.6s;
			color: c.$secondary;
		}
		&:not(:hover) {
			transform: translate(25px);
			transition: 0.6s;
			color: c.$tertiary;
		}
	}
}
